<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict/>
	</array>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need the microphone to hear your creative ideas!</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use speech recognition to turn your voice into your creations.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need access to save your creations to the Photos app.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Connect to Thermal Printer</string>
	<key>UIAppFonts</key>
	<array>
		<string>JWCo.Marker-Regular.otf</string>
		<string>PerfectlyNineties-Regular.otf</string>
		<string>Sacul.otf</string>
	</array>
</dict>
</plist>
